@model EEVA.Web.Models.QuestionOpenViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details of Question</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionPhrase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionPhrase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <br />
    <br />
    <h5>Keywords</h5>
    <a asp-action="AddAnswer" asp-route-id="@Model.Id">Add a Keyword</a>
    <br />
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answers.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers.FirstOrDefault().Keyword)
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Answers.Count() > 0)
            @foreach (var item in Model.Answers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword)
                    </td>
                    <td>
                        <a asp-action="AnswerEdit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="AnswerDetails" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="AnswerDelete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
