@model EEVA.Web.PaginatedList<EEVA.Web.Models.StudentExamViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Student Exams</h1>

<form asp-action="Index" method="get" class="form-inline">
    <div class="form-actions no-color">
        <p>
            Find by keyword: <input type="text" name="SearchString" class="form-control mr-sm-2" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Student.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Exam.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Exam.Course.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Points)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @if (Model[0].ExamAllowed)
                {
                    <a asp-action="Create" asp-route-id="@item.Id" class="btn btn-outline-warning my-2 my-sm-0 btn-sm">Start Exam</a>
                }
                @if (!Model[0].ExamAllowed)
                {
                <a asp-action="None" asp-route-id="@item.Id" class="btn btn-outline-danger my-2 my-sm-0 btn-sm disabled">Not (yet) Available</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link">
                Previous
            </a>
        </li>
        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link">
                Next
            </a>
        </li>
    </ul>
</nav>
