@model EEVA.Web.Models.QuestionMultipleChoiceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>QuestionMultipleChoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="QuestionPhrase" class="control-label"></label>
                <input asp-for="QuestionPhrase" class="form-control" />
                <span asp-validation-for="QuestionPhrase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div>
    <br />
    <h5>Answers</h5>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answers.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers.FirstOrDefault().Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers.FirstOrDefault().IsAnswerCorrect)
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Answers.Count() > 0)
            @foreach (var item in Model.Answers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAnswerCorrect)
                    </td>
                    <td>
                        <a asp-action="AnswerDetails" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
